In [2]:
# pre-processing data
import pandas as pd
import numpy as np
from numpy import mat
# standardize the Data
#from sklearn import preprocessing
#from sklearn.metrics import confusion_matrix
# draw graph
import matplotlib.pyplot as plt
%matplotlib inline
#import seaborn as sns

In [8]:
csv_file = 'Eth_training.csv'
data_eth = pd.read_csv(csv_file)
data_eth = data_eth.drop(['Date'], axis=1)
data_eth.describe()

,Price,Open,High,Low,Vol.,Change %,Predict
count,1363.000000,1363.000000,1363.000000,1363.000000,1363.000000,1363.000000,1363.000000
mean,235.882487,235.788511,245.433155,224.441284,196.211871,0.003576,235.983111
std,246.678423,246.738938,258.459087,232.088043,281.158449,0.058825,246.614894
min,6.700000,6.680000,7.320000,5.860000,0.000000,-0.269100,6.700000
25%,14.450000,14.360000,14.890000,13.685000,6.940000,-0.023700,14.470000
50%,181.110000,181.060000,186.100000,176.060000,22.540000,-0.000200,181.110000
75%,303.140000,303.140000,313.410000,290.890000,344.250000,0.027600,303.140000
max,1380.000000,1379.900000,1423.200000,1264.400000,993.860000,0.295100,1380.000000

In [9]:
Y =  data_eth['Predict']
Y = Y.dropna()

In [10]:
X = data_eth.drop(['Predict'],axis = 1)
X = X.dropna()
X.describe()

,Price,Open,High,Low,Vol.,Change %
count,1363.000000,1363.000000,1363.000000,1363.000000,1363.000000,1363.000000
mean,235.882487,235.788511,245.433155,224.441284,196.211871,0.003576
std,246.678423,246.738938,258.459087,232.088043,281.158449,0.058825
min,6.700000,6.680000,7.320000,5.860000,0.000000,-0.269100
25%,14.450000,14.360000,14.890000,13.685000,6.940000,-0.023700
50%,181.110000,181.060000,186.100000,176.060000,22.540000,-0.000200
75%,303.140000,303.140000,313.410000,290.890000,344.250000,0.027600
max,1380.000000,1379.900000,1423.200000,1264.400000,993.860000,0.295100

In [11]:
import numpy as np
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [12]:
from sklearn.ensemble import RandomForestClassifier
RandomForest = RandomForestClassifier()
RandomForest.fit(X, Y.astype(int))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
print('Random Forest')
print(mean_absolute_percentage_error(Y, RandomForest.predict(X)))

Random Forest
1.5246172959677506

In [14]:
csv_file = 'Eth_val.csv'
now_eth = pd.read_csv(csv_file)
date = now_eth['Date']
std_etg = now_eth['Predict']
now_eth = now_eth.drop(['Date','Predict'], axis=1)
RandomForest.predict(now_eth)

array([ 11,  12,  15, ..., 148, 151, 149])

In [15]:
std_etg

0        11.95
1        12.92
2        15.07
3        12.50
4        13.06
5        12.88
6        10.74
7        10.74
8        10.31
9        10.18
10       11.95
11       11.37
12       12.43
13       11.20
14       10.67
15       11.00
16       10.40
17       11.62
18       11.79
19       11.85
20       11.41
21       11.62
22       11.61
23       11.75
24       11.15
25       10.40
26       10.76
27       10.12
28        9.71
29        9.15
         ...
1336    186.94
1337    184.03
1338    184.96
1339    188.99
1340    185.09
1341    186.99
1342    188.36
1343    185.25
1344    180.19
1345    182.42
1346    184.18
1347    178.50
1348    176.09
1349    174.96
1350    161.46
1351    149.80
1352    152.46
1353    140.66
1354    145.90
1355    149.15
1356    145.63
1357    151.07
1358    152.65
1359    152.54
1360    151.04
1361    148.89
1362    148.90
1363    148.78
1364       NaN
1365       NaN
Name: Predict, Length: 1366, dtype: float64

In [16]:
RandomForest.predict(X)

array([ 11,  12,  15, ..., 151, 148, 148])

In [17]:
from sklearn.svm import SVC

svm = SVC(kernel = 'linear', probability = True)
svm.fit(X, Y.astype(int))

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=True, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [18]:
mean_absolute_percentage_error(Y, svm.predict(X))

2.279778358809987

In [ ]:
svm.predict(now_eth)

In [ ]:
RandomForest.predict(now_eth)

In [ ]:
std_err = std_etg.dropna()

In [ ]:
mean_absolute_percentage_error(std_etg,svm.predict(now_eth))

In [ ]:
plt.figure(figsize = (30,10))
plt.plot(date, std_etg, RandomForest.predict(now_eth))
plt.axis('off')